{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
</head>

<body>
    <div class="title">Resume</div>
    <div class="header">
        <div>
            <label for="" class="font-size">Welcome : Everyone</label>
            <!-- <label for="" class="font-size"></label> -->
        </div>
        <div>
            <a class="font-size a-btn" href="/register/" style="text-decoration: none;">Register</a>
            <a class="font-size a-btn" href="/" style="text-decoration: none;">Login</a>
        </div>
    </div>
    <div class="container">
        {% if not index %}
        {% block containerpage %}

        {% endblock containerpage %}
        {% else %}
        <div class="title">
            Login Page
        </div>
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
        {% endfor %}

        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="flex-direction: column;">
                <form action="/" method="post">
                    {% csrf_token %}
                <div class="div-center">
                    <label>Email : </label>
                    <label><input type="text" name="email" id="email"></label>
                </div>
                <div class="div-center" style="margin: 10px 0 10px 0">
                    <label>Password : </label>
                    <label><input type="password" name="password" id="password"></label>
                </div>
                <span>Create account ? <a href="/register/">New user</a></span>
                <div class="title" style="margin: 10px 0 10px 0">
                    <button class="btn" type="submit">Login</button>
                    <button class="btn" type="reset">Clear</button>
                </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

</body>

<!-- ajax cdn -->
<!-- <script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
<!-- Here is Ajax to use submit the form data -->
<!-- <script>
    document.getElementById("submit").addEventListener('click',()=>{
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        console.log(email,password);
        let cookie = document.cookie
        let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
        $.ajax({
            type: "POST",
            url: "/",
            headers: {
                'X-CSRFToken': csrfToken
            },
            data: {
                email: email,
                password: password,
                // csrfmiddleware: '{% csrf_token %}',
            },
            success: (response)=>{
                if(response.success){
                    alert("login successfully");
                }
                else{
                    alert("login denied");
                }
            },
            error: () => {

            }
        });
    });
</script> -->

</html>