{% load static %}
{% load myfilter %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="font-size">Welcome: {{request.session.id|useremail|title}}</div>
        <div>
            {% if userlogin %}
            <a class="font-size btn btn-outline-primary" href="#">Profile</a>
            <a class="font-size btn btn-outline-secondary" href="/logout/">Log out</a>
            {% else %}
            <a class="font-size btn btn-outline-primary" href="/register/">Register</a>
            <a class="font-size btn btn-outline-secondary" href="/">Log in</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% if not index %}
        {% block containerpage %}
        {% endblock containerpage %}
        {% else %}
        <div class="title">Login Page</div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="shadow p-4 bg-light rounded">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Enter your password">
                    </div>
                    <p class="small">Create an account? <a href="/register/">New user</a></p>
                    <div class="d-flex justify-content-center">
                        <button id="login-click" type="button" class="btn btn-success mx-2">Login</button>
                        <button type="reset" class="btn btn-secondary">Clear</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelector("#login-click").addEventListener('click', () => {
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
             console.log(email, password);
            $.ajax({
                type: 'POST',
                url: '/login/',
                data: {
                    'email': email,
                    'password': password,
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: (response) => {
                    if (response.success) {
                        alert(response.message);
                        window.location.href = response.url_pattern;
                    } else {
                        alert(response.message);
                        window.location.reload();
                    }
                },
                error: (xhr, status, error) => {
                    console.error("AJAX Error:", error);
                    alert("An error occurred. Please try again.");
                }
            });
        });

    </script>
</body>

</html>