{% extends "login_page.html" %}

{% block containerpage %}

<div class="title">
    Registeration Page
</div>
<div style="display: flex; align-items: center; justify-content: center;">
    <div style="flex-direction: column;">
        <div class="div-center">
            <label>Email-ID : </label>
            <label><input type="text" name="email" id=""></label>
        </div>
        <div class="div-center" style="margin: 10px 0 10px 0">
            <label>Password : </label>
            <label><input type="text" name="password" id=""></label>
        </div>
        <div class="div-center" style="margin: 10px 0 10px 0">
            <label>Re-Enter Password : </label>
            <label><input type="text" name="repassword" id=""></label>
        </div>
        <span>Already have an account? <a href="/">Login</a></span>
        <div class="title" style="margin: 10px 0 10px 0">
            <button class="btn">Create</button>
            <button class="btn">Clear</button>
        </div>
    </div>
</div>

{% endblock containerpage %}