{% extends "login_page.html" %}

{% block containerpage %}

<!-- <div class="container "> -->
<h2 class="title">Registration Page</h2>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form class="shadow p-4 bg-light rounded" method="post" action="/register/">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible border-black fade show" id="alert-div" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    id="close-btn"></button>
            </div>
            {% endfor %}
            {% endif %}
            <div class="mb-3">
                <label for="email" class="form-label">Email-ID:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password">
            </div>
            <div class="mb-3">
                <label for="repassword" class="form-label">Re-Enter Password:</label>
                <input type="password" class="form-control" id="repassword" name="repassword"
                    placeholder="Re-enter your password">
            </div>
            <p class="small">
                Already have an account? <a href="/">Login</a>
            </p>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mx-2">Create</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
        </form>
    </div>
</div>
<!-- </div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<!-- <script>
    document.getElementById("registration-create").addEventListener('click', () => {
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        let repassword = document.getElementById("repassword").value;
        if (!email) {
            alert("Please Enter Email-ID");
            return;
        }
        if ( !password ) {
            alert('Please enter password!');
            return;
        }
        if ( !repassword ) {
            alert('Please enter re-password!');
            return;
        }
        if (password != repassword) {
            alert("Please check your password");
            return;
        }
        $.ajax({
            type: "POST",
            url: '/register/',
            data: {
                'email': email,
                'password': password,
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: (response) => {
                if (response.success) {
                    alert(response.message);
                    window.location.href = response.url_pattern;
                } else {
                    alert(response.message);
                }
            },
            error: (xhr, status, error) => {
                console.error("AJAX Error:", error);
                alert("An error occurred. Please try again.");
            }
        });
    });

</script> -->

{% endblock containerpage %}