{% extends "login_page.html" %}

{% block containerpage %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

<!-- <div class="container mt-5"> -->
    <div class="row justify-content-between">
        
        <div class="col-md-3">
            <div class="w-50 d-flex flex-column gap-3">
                <!-- <div class="d-flex flex-column gap-3"> -->
                    <a href="#" class="btn btn-outline-success w-100">Add Resume</a>
                    <a href="#" class="btn btn-outline-secondary w-100">Filter Resume</a>
                <!-- </div> -->
            </div>
        </div>

        
        <div class="col-md-9">
            <div class="card shadow p-4">
                <h4 class="text-center mb-4">Add Resume</h4>
                <form id="resumeForm">
                    <div class="mb-3">
                        <label for="resume" class="form-label">Select Resume:</label>
                        <input type="file" class="form-control" id="resume" name="resume" onclick="multiselect();" multiple>
                    </div>
                    <p>Total Resumes Selected: <span class="fw-bold" id="totalFiles">0</span></p>
                    <div class="alert bg-light">
                        <span class="btn" onclick="this.parentElement.style.display='none';">&times;</span>
                        This is an alert box.
                    </div>
                    <div class="alert bg-light">
                        <span class="btn" onclick="this.parentElement.style.display='none';">&times;</span>
                        This is an alert box.
                    </div>
                    <div class="alert bg-light">
                        <span class="btn" onclick="this.parentElement.style.display='none';">&times;</span>
                        This is an alert box.
                    </div>
                    <div class="alert bg-light">
                        <span class="btn" onclick="this.parentElement.style.display='none';">&times;</span>
                        This is an alert box.
                    </div>
                    <ul id="fileList" class="list-group mb-3"></ul>
                    <div class="d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-primary" id="uploadButton">Upload All</button>
                        <button type="reset" class="btn btn-secondary" id="clearButton">Clear</button>
                    </div>
                </form>
                <input type="text" id="allimages" />
            </div>
        </div>
    </div>

    <script>
        // document.querySelector("#resume").addEventListener('click', (e) => {
            // console.log(check)
            // let arr = [];
            // let res = document.getElementById("resume");
            
            // console.log(res);
        // });

        function multiselect () {
            let val = document.getElementById("resume");
            // console.log(val)
            val.addEventListener("change", (e) => {
                let data = e.target.value;
                // console.log(data);
                // console.log(val.value);
                let res = '';
                for(const x of val.files){
                    // console.log(x.name)
                    // res.push(x.name);
                    res += x.name+',';
                    
                    <div class="alert bg-light">
                        <span class="btn" onclick="this.parentElement.style.display='none';">&times;</span>
                        xname
                    </div>
                }
                document.querySelector("#allimages").value = res;
                
            });
        }



        // function fetchvalue(){
        //     let val = document.getElementById("resume");
        //     // console.log(val);
        //     var value1 = "";
        //     // let arr = [];
        //     let count = [];
        //     let content = document.querySelector("#allimages").value;
        //     let data = content.split(',');
        //     // console.log(data,typeof(data));
        //     // console.log()
        //     for(let x in data){
        //         count.push(x);
        //     }
        //     console.log(count)
        //     // var newstr = '';
        //     // for(let i in data){
        //     //     // console.log(i,typeof(i))
        //     //     newstr += (data.i + ',');
        //     // }
        //     // newstr += value1;
        //     // console.log(newstr);

        //     val.addEventListener('change', (e) => {
        //         // console.log(e)
        //         // console.clear()
        //         let check = e.target.files;
        //         // console.log(check.length);
        //         // count += 1;
        //         // console.log(check[0].name);
        //         // console.log(count+" time count")
        //         value1 = check[0].name;
        //         // console.log(value1);
                
        //         // let content = document.querySelector("#allimages").value;
        //         // console.log(content,typeof(content));
        //         // let data = content.split(',');
        //         // console.log(data,typeof(data));
        //         // var newstr = '';
        //         // for(let i=0;data.length;i++){
        //         // for(let i in data){
        //         //     // console.log(i,typeof(i))
        //         //     newstr += (data.i + ',');
        //         // }
        //         // newstr += value1;
        //         // console.log(newstr);
        //         newstr += value1;
        //         console.log("hello:"+newstr);
                
        //         document.querySelector("#allimages").value = newstr;
        //     })
        //     console.log(":"+value1)
        //     // arr.unshift(value1);
        //     // document.querySelector("#totalFiles").innerHTML = arr.length;
        //     // console.log(arr)
        //     // console.log(count);
        // }
    </script>
<!-- </div> -->

{% endblock containerpage %}
